header{
    &:before{
        height: 25px;
        display: block;
        content: "";
    }
    font-size: 13px;
    background: white;
    text-align: center;
    .logo{
        text-align: left;
        padding-left: $left_padding;
        order: 2;
    }
    .search{
        position: relative;
        line-height: 30px;
        @include tablet{
            line-height: 50px;
        };
        @include smartphone{
            line-height: 50px;
            font-size: 30px;
            order: 1;
        };
        input{
            border-radius: 15px;
            width: 90%;
            height: 30px;
            @include smartphone{
                font-size: 12px;
            };
        }
        .magnifier{
            position: absolute;
            right: 30px;
            top: 0;
            width: 20px;
            height: 20px;
            font-size: 20px;
            @include smartphone{
                right: 15px;
                top: 55px;
                color: $font_color3;
            };
        }
    }
    .user, .basket{
        line-height: 30px;
        @include smartphone{
            font-size: 30px;
            line-height: 50px;
            order: 3;
        };
        span{
            font-family: 'Lato', Arial, sans-serif;
            @include smartphone{
                display: none;
            };
        }
    }
    .order{
        @include smartphone{
            display: none;
        };
        button{
            font-family: 'Lovelo', Arial, sans-serif;
            font-weight: bold;
            font-size: 11px;
            border-radius: 15px;
            background: $font_color2;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.29);
            width: 105px;
            height: 32px;
            color: white;
            font-weight: 900;
            line-height: 10px;
        }
    }
    .hamburger{
        display: none;
        @include smartphone{
            display: block;
            font-size: 30px;
            line-height: 50px;
            order: 4;
        };
    }
    .slogan{
        font-size: 11px;
        line-height: 15px;
        font-family: 'Lato', Arial, sans-serif;
        @include tablet{
            display: none;
        };
        @include smartphone{
            display: none;
        };
    }

    nav{
        text-align: left;
        ul{
            padding: 15px 15px;
            @include smartphone{
                display: none;
            };
            li{
                display: inline-block;
                width: 8%;
                text-align: center;
                font-weight: bold;
                font-size: 13px;
                font-family: 'Lovelo', Arial, sans-serif;
                @include tablet{
                    width: 16.66%;
                    margin: 15px 0;
                };
                @include smartphone{
                    width: 16.66%;
                    margin: 15px 0;
                };
            }
        }
    }
}

.showMobileMenu{
    ul{
        display: block;
        li{
            display: inline-block;
        }
    }
}

@include smartphone{
    .hideSearchBox{
        display: none;
    }
    div.row:first-of-type{
        display: flex;
        //flex-direction: row-reverse;
    }
};
