section{
    font-family: 'Lovelo', Arial, sans-serif;
    font-weight: bold;
    background: white;
    .gallery{
        border-bottom: 1px solid $border_color1;
        border-right: 1px solid $border_color1;
        padding-left: $left_padding;
        @include xs{
            padding-left: 0;
        };
        .galleryTitle{
            font-size: 14px;
            line-height: 100px;
            @include smartphone{
                font-size: 11px;
                line-height: 35px;
            };
            @include xs{
                display: none;
            };
        }
        .galleryImages{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: 100px;
            @include smartphone{
                height: 75px;
            };
            @include xs{
                height: 50px;
            };
            img{
                width: 11.11%;
                border-left: 1px solid $border_color1;
                padding: 20px 30px;
                @include tablet{
                    padding: 15px;
                };
                @include smartphone{
                    padding: 10px;
                };
                @include xs{
                    padding: 5px;
                };
            }
        }
    }
    .menu{
        height: 115px;
        .lines{
            padding: 40px 0;
            @include xs{
                display: none;
            };
        }
        div{
            line-height: 115px;
            ul{
                li{
                    display: inline-block;
                    font-size: 18px;
                    width: 33.33%;
                    text-align: center;
                    &:hover{
                        transform: scale(1.15);
                        color: $font_color2;

                    }
                    @include xs{
                        font-size: 15px;
                    };
                }
            }
        }
    }
    .shopItems{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        figure{
            width: 22%;
            text-align: center;
            min-height: 460px;
            @include tablet{
                width: 30%;
            };
            @include smartphone{
                width: 45%;
            };
            @include xs{
                width: 45%;
            };
            img{
                min-height: 320px;
                &:hover{
                    transform: scale(1.15);
                }
            }
            figcaption{
                border-top: 1px solid $border_color1;
                padding: 15px;
                .shopItemPrice{
                    font-size: 16px;
                }
                .shopItemName{
                    font-family: 'Lato', Arial, sans-serif;
                    font-size: 14px;
                    color: $font_color3;
                }
                button{
                    background: $background_color3;
                    font-family: 'Lovelo', Arial, sans-serif;
                    font-weight: bold;
                    font-size: 11px;
                    padding: 5px 10px;
                    border-radius: 15px;
                    color: $font_color1;
                    margin: 5px 0;
                }
            }
        }
    }
    .seeMore{
        text-align: center;
        button{
            padding: 10px 15px;
            border-radius: 15px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.29);
            font-family: 'Lovelo', Arial, sans-serif;
            font-weight: bold;
            margin: 25px 0;
            font-size: 11px;
            @include tablet{
                margin: 10px 0;
            };
        }
    }
}
