aside{
    height: 475px;
    background: $background_color2;
    font-family: 'Lovelo', Arial, sans-serif;
    font-weight: bold;
    overflow: hidden;
    @include tablet{
        width: 100vw;
        height: 45vw;
    };
    @include smartphone{
        width: 100vw;
        height: 45vw;
    };
    .banner{
        position: relative;
        h1{
            font-size: 50px;
            line-height: 50px;
            color: white;
            position: absolute;
            top: 150px;
            left: $left_padding;
            z-index: 1;
            @include tablet{
                font-size: 35px;
                line-height: 35px;
                top: 100px;
            };
            @include smartphone{
                font-size: 25px;
                line-height: 25px;
                top: 75px;
            };
        }
        h2{
            font-family: 'Lato', Arial, sans-serif;
            font-size: 14px;
            position: absolute;
            top: 275px;
            left: $left_padding;
            z-index: 1;
            @include tablet{
                font-size: 12px;
                top: 180px;
                width: 250px;
            };
            @include smartphone{
                font-size: 10px;
                top: 135px;
                width: 250px;
            };
        }
        button{
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.29);
            width: 175px;
            height: 32px;
            background: white;
            border-radius: 15px;
            position: absolute;
            top: 350px;
            left: $left_padding;
            font-family: 'Lovelo', Arial, sans-serif;
            font-weight: bold;
            font-size: 11px;
            z-index: 1;
            @include tablet{
                top: 250px;
            };
            @include smartphone{
                top: 200px;
                width: 150px;
                height: 25px;
                font-size: 9px;
            };
        }
        img{
            float: left;
            position: absolute;
            top: 80px;
            left: 0;
            transform: scale(1.5);
            height: auto;
            @include tablet{
                top: 75px;
                left: 0;
            };
            @include smartphone{
                top: 50px;
            };
        }
    }

}
