footer{
    border: 1px solid grey;
    font-family: 'Lato', Arial, sans-serif;
    padding: $left_padding;
    h3{
        font-family: 'Lovelo', Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
    ul{
        li{
            font-size: 13px;
            line-height: 36px;
        }
    }
    .payment{
        div{
            font-size: 13px;
            color: $font_color3;
            line-height: 18px;
            margin-top: 15px;
        }
        .extraInfo{
            color: $font_color2;
        }
    }
    .contact{
        padding-left: 45px;
        form{
            margin-top: 15px;
            margin-bottom: 35px;
            font-size: 11px;
            input{
                border-radius: 15px;
                height: 35px;
                width: 70%;
                &[type=submit]{
                        background: $background_color3;
                        color: $font_color1;
                        font-family: 'Lovelo', Arial, sans-serif;
                        font-weight: bold;
                        width: 25%;
                }
            }
        }
        .phoneNumber{
            font-size: 30px;
            color: $font_color3;
            line-height: 50px;
            font-weight: 700;
        }
        .email{
            font-size: 14px;
            font-weight: 700;
        }
    }
}
